<mat-card class="card">
  <mat-card-content>
    <span class="cardtitle">Employee Details</span>
    <label for="role" class="filinl">Filter Roles: </label>
    <input
      type="text"
      name="role"
      placeholder="Designation"
      [(ngModel)]="designation"
      class="filin"
    />
    <mat-list
      role="list"
      *ngFor="let u of user | filter: designation:'designation'"
    >
      <mat-card class="lcards">
        <mat-card-content>
          <span class="ctitle"> {{ u.id }}. {{ u.name }} </span>
          <hr />
          <span class="deets">
            <span class="headings">Username: </span>{{ u.username }} <br />
            <span class="headings">Designation: </span> {{ u.designation }}
            <br />
            <span class="headings">Email: </span> {{ u.email }} <br />
            <span class="headings">Phone no: </span> {{ u.phone }}
          </span>
        </mat-card-content>
      </mat-card>
    </mat-list>
  </mat-card-content>
</mat-card>
